@model Bangazon.Models.Order

@{
    ViewData["Title"] = "Delete";
}

<h1>Cancel Order</h1>

<p>Are you sure you want to cancel your order?</p>
<div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderId" />
        <input type="submit" value="Cancel" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
